*{
    background-color: #FFF;
    border: 0;
    margin: 0;
    padding: 0;
}
body{
    width: 800px;
    margin: auto;
}

nav {
    display: flex;
    
}
img {
    width: 100px;
}

#mainmany{
    display: flex;
    flex-wrap: wrap;
    width: 800px;
}
#mainmany > a > img {
    flex-basis:20%;
    flex-grow:1;
    margin:auto;

}

#mainmany > a {
    flex-basis:20%;
    flex-grow:1;    
}



#mainmany > ul {
    width: 60%;
    line-height: 7em;
    float: left;
    text-align: center;
}


#mainmany>ul>li {
    display: inline;
}

#mainmany>form {
    flex-basis:20%;
    flex-grow:1;
    line-height: 7em;
}

#mainmany>form>h3 {
    text-align: center;
}

#company_payoff{
    display: flex;
    flex-wrap: wrap;
    clear: both;
    padding-bottom: 2em;
    padding-top: 2em;
}
#company_payoff > h1, #company_payoff > h2 {
    text-align: center;
    text-transform: uppercase;
}

main {
    clear:both;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

main > .main_article{
    width: 50%;
    flex-basis:50%;
    flex-grow:1;
}

main > .main_article > a{
   flex-basis:50%;
    flex-grow:1;
}

#company_footer {
    display: flex;
    clear: both;
    width: 100%;
}
#company_footer_section_1 {
    width: 30%;
    flex-basis:20%;
    flex-shrink: 0;
    flex-grow:1;    
}

#company_footer_section_2 {
    width: 70%;
    flex-basis:70%;
    flex-shrink: 0;
    flex-grow:1;
}
#company_footer_section_2 > aside {
    width: 30%;
    flex-basis:30%;
    flex-shrink: 0;
    flex-grow:1;
}
#company_footer_section_2 > article {

    flex-basis:30%;
    flex-shrink: 0;
    flex-grow:1;
}
#company_footer_section_2 > section {
   
    flex-basis:10%;
    flex-shrink: 0;
    flex-grow:1;
}
#company_footer_section_2 > section > a > img {
    flex-basis:50%;
    flex-shrink: 0;
    flex-grow:1;
    margin: 5%;
}
