    @import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
    * {
        box-sizing: border-box;/* Include padding and border in the total width and height */
        margin: 0;
        padding: 0;
    }

    body {
        font-family: 'Arial', sans-serif;
        font-size: 1rem; 
        line-height: 1.5;
        background-color: #ffffff;
        color: #000000;
        padding: 1rem;
        word-spacing: 0.1em;/* Extra spacing between words */
    }

    h1, h2 {
        font-family: 'Limelight', sans-serif;
        text-transform: uppercase;
        letter-spacing: 0.05em;
    }

    h1 { 
        font-size: 3rem; 
        line-height: 120%;
        margin-top: 1rem;
        margin-bottom: 1rem;
        text-align: center; 
    }

    h2 { 
        font-size: 2.5rem; 
        line-height: 120%;
        text-align: center; 
        color: #3E4A2B;
    }

    p {
        margin-bottom: 1rem;
    }

    p::first-letter {
        font-family: 'Limelight', sans-serif;
        font-size: 1.5rem;
        font-weight: bold;
        color: #4B3D1A;
    }


    /* Header Styles */
    header { 
        position: relative; /* Needed for decorative line */
        background-color: #3E4A2B;
        color: #fff;
        padding: 1rem;
        text-align: center;
 
    }

    header::before {
        content: "";
        position: absolute;/* Creates top accent line */
        top: 0;
        left: 0;
        width: 100%;
        height: 6px;
        background: #4B3D1A; 
    }


    /* Footer Styles */
    footer { 
        background: #3E4A2B;
        color: #fff;
        text-align: center;
        padding: 1rem;
        margin-top: 2rem;
        position: relative; /* Needed for border line */
    }

    footer > p::first-letter {
        font-family: 'Limelight', sans-serif;
        font-size: 1.5rem;
        color: #ffffff;
    }

    footer::before {
        content: "";
        position: absolute; 
        top: 0;
        left: 0;
        width: 100%;
        height: 4px;
        background: #4B3D1A;
    }


    /* Mobile Navigation Styles */
    #menu-toggle {
        display: none;
    }

    .hamburger {
        position: absolute;
        top: 6rem;
        right: 1rem;
        display: none; /* Only visible on mobile */
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 22px;
        cursor: pointer;
        z-index: 1001; /* Above nav */
    }

    .hamburger span {
        display: block; /* Make each bar a block element */
        height: 3px;
        background-color: #fff;
        border-radius: 2px;
        transition: all 0.3s ease;/* Burger animation */
    }

    .mobile-nav {
        display: block;
        position: fixed;/* Keeps nav on screen */
        top: 0;
        right: -250px;/* Hidden off-screen */
        width: 250px;
        height: 100vh;
        background-color: #465436;
        transition: right 0.3s ease;
        padding-top: 5rem;
        z-index: 1000;
    }

    .mobile-nav ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: block; 
    }

    .mobile-nav ul li {
        padding: 1rem;
        text-align: center;
    }

    .mobile-nav ul li a {
        font-size: 1.2rem;
    }

    #menu-toggle:checked ~ .mobile-nav {
        right: 0;/* Slide menu in */
    }




    /* Home Page */

    /* Logo Styles */
    .logo {
        position: absolute;
        top: 50%;
        left: 2.5rem;
        transform: translateY(-50%);/* Vertically center */
        width: 130px;
        height: auto;
    }

    footer .logo {
        position: absolute;
        top: 50%;
        left: 2.5rem;
        transform: translateY(-50%);
        width: 75px;
        height: auto;
    }

    
    /* Navigation Styles */
    a { 
        color: #ffffff; 
        text-decoration: none; 
    }

    a:hover { 
        text-decoration: underline; 
    }

    a:visited {
        color: #E6D7C4;
    }

    a:active {
        color: #AFC343;
    }

    nav ul {
        list-style: none;
        display: flex;/* Horizontal menu */
        justify-content: center;
        gap: 1rem;
        margin-bottom: 0.4rem;
    }

    nav > ul > li > a {
        padding: 0.1rem;
        font-size: 1.1rem;
    }

    .mobile-nav {
        display: none;
    }


    /*Intro Section */
    .intro {
        max-width: 1000px;
        margin: 0 auto 2rem auto;
        overflow: auto;
        padding-bottom: 8rem;/* Space for scroll button */
        margin-top: 2rem;
    }

    .intro article {
        flex: 0 0 55%;
        max-width: 800px; 
        margin: 0 auto; 
        display: flex;
        flex-wrap: wrap;
    }

    .intro article h2 {
        margin-top: 10rem; 
        text-align: left;

    }

    .intro article p {
        margin-top: 0.1rem; 
    }

    .intro aside {
        flex: 0 0 40%;
        text-align: center;
    }

    figure img {
        max-width: 100%;
        height: auto;
        border-radius: 0.5rem;
        display: block;
        margin: 0 auto;
    }

    figcaption {
        text-align: center;
        font-style: italic;
        margin-top: 0.5rem;
    }

    section { 
        margin-bottom: 2rem;
        display: flex;
    }


    /* Scroll Button */
    .scroll-button {
        display: block;             
        width: 300px;               
        max-width: 80%;           
        margin: 2rem auto;     
        text-align: center;         
        padding-top: 1.5rem;
        padding-bottom: 0.1rem;
        font-size: 1.2rem;
        background-color: #AFC343;
        color: #000000;
        border: none;
        border-radius: 0.25rem;
        cursor: pointer;
    }

    .scroll-button:hover { 
        background-color: #935800; 
    }

    
    /* Featured Spots Table */
    .featured-spots{
        display: flex;
        justify-content: center;
    }

    table {
        display : none;
        border-collapse: collapse; /* Merge table borders into a single line */
        width: 60%; 
        margin: 2rem 0;
    }

    table, th, td {
        border-style: solid;
        border-width: 1px;
        border-color: #2c3e50;
    }

    table tr:nth-child(odd) {
        background-color: #fff;
    }

    table tr:nth-child(even) {
        background-color: #cff;
    }

    /*Cookies Message*/
    .cookies-message {
        display : none;
        position: fixed;    
        bottom: 20px;      
        left: 50%;          
        transform: translateX(-50%);
        background-color: #3E4A2B;
        color: #fff;
        padding: 1rem 2rem;
        border-radius: 0.5rem;
        z-index: 9999;/* Always on top */
        font-size: 1rem;
        text-align: center;
    }

    /* Options Section */
    .options {
        display: grid;
        grid-template-columns: repeat(3, 1fr);/* Create 3 equal-width columns */
        gap: 30px; 
        padding: 20px;
        padding-bottom: 120px;
    }

    .option {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: #E6D7C4;
        padding: 15px;
        border-radius: 12px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }

    .option:hover {
        transform: translateY(-5px);/* Elevation on hover */
        box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
    }

    .option > p::first-letter{
        font-family: 'Arial', sans-serif;
        font-size: 1rem; 
        line-height: 1.5;
        color: #000000;
        font-weight: normal;
    }

    .option-img {
        width: 100%;
        max-width: 280px;
        border-radius: 10px;
        margin-bottom: 15px;
        object-fit: cover;
    }

    .option-title {
        font-size: 1.3rem;
        margin-bottom: 10px;
        color: #333;
    }

    .option p {
        color: #000000;
        line-height: 1.5;
    }

    /* FAQ Section */
    .FAQ {
        display: block;
        width: 100%;
        margin-bottom: 40px;
    }

    .FAQ .question {
        font-family: 'Limelight', sans-serif;
        background-color: #3E4A2B;
        color: #E6D7C4;
        font-size: 1.2em;
        padding: 15px 20px;
        margin-bottom: 0;
        text-align: left;
    }

    .FAQ article {
        background-color: #e8d9c9;
        padding: 20px;
        margin-bottom: 0;
        text-align: left;
        }

    .FAQ p {
        margin: 8px 0;
    }

    .FAQ p::first-letter {
        font-family: 'Arial', sans-serif;
        font-size: 1rem; 
        line-height: 1.5;
        color: #000000;
        font-weight: normal;
    }

    .FAQ .question::first-letter{
        font-family: 'Limelight', sans-serif;
        color: #e8d9c9;
    }



    /*Detail Page*/

    /* Container for Image and Text */
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;/* 2-column layout */
        gap: 20px;
        align-items: start;
        margin-bottom: 100px;
        margin-top: 2rem;
    }

    .left img {
        max-width: 600px;
        border-radius: 10px;
        height: auto; 
        object-fit: cover;
    }
    .right {
        margin-top: 50px;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 0.5rem;
    }

    .title {
        font-size: 2em;
        font-weight: bold;
    }

    .address{
        margin-bottom: 1.5rem;
    }


    
    /* Contact Page */

    /* Contact Intro Section */
    .contact-intro {
        background-color: #E6D7C4; 
        text-align: center;  
        display: block;
        position: relative; 
        padding: 3rem 1rem;      
        width: 100%;                
        margin: 0;             
    }

    .contact-intro * {
        margin: 0;                 
    }

    .contact-intro p::first-letter {
        font-family: 'Arial', sans-serif;
        font-size: 1rem; 
        line-height: 1.5;
        color: #000000;
        font-weight: normal;
    }

    /* Contact Form Styles */
    .contact-form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: #3E4A2B; 
        padding: 3rem 0;
        margin-top: 3rem;
        width: 100%;
         max-width: 750px;
    }

    .contact-form-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    form {
        padding: 3rem;
        max-width: 650px;
        width: 90%;
        color: white;     
        display: flex;
        flex-direction: column;  
        gap: 1rem;
        background-color: #E6D7C4;
        margin-bottom: 0;
    }

    form p {
        color: #000;
        margin-bottom: 0;
        font-size: 1.1rem;
    }

    input, textarea {
        padding: 0.6rem;    
        font-size: 1.5rem;
        border: 1px solid #ccc;
        border-radius: 0.3rem;
        margin-bottom: 1.1rem;
    }
    #message {
        width: 100%;         
        min-height: 150px;  
        padding: 1rem;        
        resize: vertical;/* Allow vertical resize only */
    }

    form legend, label {
        font-family: 'Limelight', sans-serif;   
        color: #000000;
        font-size: 1.2rem;
    }

    form fieldset {
        border: none;/* Removes default fieldset border */
        border: 1px solid #ccc;
        border-radius: 0.3rem;  
        padding: 1rem 0;    
        margin: 0;     
        display: flex;
        background-color: #ffffff;
    }

    form fieldset label{
        font-family: 'Arial', sans-serif;
        font-size: 1.1rem; 
        line-height: 1.5;
        color: #000000;
        font-weight: normal;
        padding-left: 20px;
        text-indent: 1rem;
    }

    input[type="submit"] {
        padding: 1rem 1.5rem;
        background-color: #AFC343;
        color: #000000;
        border: none;
        border-radius: 0.25rem;
        font-size: 1.3rem;
        cursor: pointer;
        width: 100%;
        max-width: 185px;
        float: none;
    }

    .submit-wrapper {   
        display: flex;
        justify-content: center;    
        margin-bottom: 0;
    }

    input[type="submit"]:hover { 
        background-color: #935800; 
    }

    .hidden {
        display:none;
    }



    /*Media Query for Laptops*/
    @media (max-width: 992px) {
        .logo {
            margin-bottom: 0;
            margin-top: 2.5rem;
            width: 70px;
        }
        footer .logo {
            margin-top: 0rem;
            width: 70px;
        }
    }


    /*Media Query for Mobile Devices*/
    @media (max-width: 768px) {
        
        header {
            padding: 2rem;
        }
          
        h1 { 
            font-size: 2.5rem; 
            line-height: 120%;
        }

        h2 { 
            font-size: 2rem; 
            line-height: 120%;
        }

        article, form { 
            margin: 0 1rem 2rem 1rem; 
        }

        /* Logo Styles */
        .logo {
            margin-bottom: 0;
            margin-top: 2.5rem;
            width: 60px;
        }

        footer .logo {
            margin-top: 0rem;
            width: 60px;
        }

        /* Navigation Styles */
        .hamburger {
            display: flex;
        }

        .main-nav {
            display: none;/* Hide main menu on mobile */
        }

        .mobile-nav {
            display: block;
        }


        /*Home Page*/

        /* Intro Section */
        .intro {
            flex-direction: column;
            text-align: center;
        }

        .intro article {
            padding-right: 0;
        }

        .intro article h2 {
        margin-top: 5rem; 
        text-align: center;
        }

        .intro article p {
        margin-top: 0.1rem; 
        }
        
        table, th, td {
            font-size: 0.9rem;
        }

        .scroll-button {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }

        /* Options Section */
        .options {
            grid-template-columns: 1fr;
            gap: 20px;
            padding: 10px;
        }

        .option-img {
            max-width: 100%;
        }

        .option {
            padding: 20px;
        }

        .option-title {
            font-size: 1.5rem;
        }

        .option p {
            font-size: 1rem;
            line-height: 1.6;
        }  


        /* Detail Page */

        /* Container for Image and Text */
        .container {
            flex-direction: column;
            display: flex;
            align-items: flex-start;
            gap: 0px;
        }

        .left img {
           display: block;     
            margin: 0 auto;    
            max-width: 100%;
            height: auto;  
        }

        .right {
            order: -1; 
            margin-top: 0px;
        }  
    }
